.homepage,
.homepage-content {
  height: 100vh;
}

.homepage {
  overflow: hidden;
  background: url('/img/homepage.jpg') center center;
  background-size: cover;
  background-repeat: no-repeat;

  .homepage-content {
    background-color: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .jumbotron {
    font-family: 'libre_baskerville';
    background-color: transparent;
    text-align: center;
    color: #ffffff;
    margin-top: 10%;

    & > h1 {
      font-size: 4rem;
    }
  }

  .app-spec {
    font-size: 14px;
    @extend .clearfix;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
    display: inline-block;

    & > li {
      float: left;
      padding: .5rem;
    }
  }
}
