.page {
  @extend .clearfix;
  margin-top: -56px;

  .page-header-overlay {
    background-color: rgba(0,0,0,.7);
    padding-top: 12rem;
    padding-bottom: 8rem;
    color: #FFF;
  }

  .page-header {
    text-align: center;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .page-lead {
    max-width: 640px;
    margin: 0px auto;
  }
}
