body {
  position: relative;
  font-family: 'libre_baskerville';
  color: #333;
}

a {
  position: relative;
  border-bottom: 0px solid transparent;
  transition: all linear .2s;

  &:hover,
  &:focus {
    text-decoration: none;
    border-bottom-width: 2px;
    border-bottom-color: rgb(31, 133, 218);
  }
}

.sharethis-inline-share-buttons {
  margin: 30px 0px;

  &:before {
    content: "Share with your friend";
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: 'libre_baskerville';
    text-align: center;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  min-height: 56px;

  &.navbar-light {

  }

  &.fixed-top {
    position: fixed !important;
  }
}

.navbar-brand {
  font-family: 'libre_baskerville';
  padding-left: 40px;

  & > img {
    position: absolute;
    top: 5px;
    left: 0;
  }
}

.main {
  @extend .clearfix;
}

.site-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  p {
    margin-bottom: 5px;
  }
}

.navbar-transparent {
  background-color: transparent !important;

  a:after,
  a:before {
    border-color: #ffffff;
  }
}

.site-footer,
.site-footer a {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}

.site-footer-light,
.site-footer-light a {
  color: #333;
}

.content-area {
  @extend .container;
  padding-top: 20px;
  padding-bottom: 100px;
}

.content-heading {
  margin-bottom: 40px;
  text-align: center;

  .title {
    font-size: 2.3rem;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 3px #444 solid;
  }
}

pre, code {
  font-family: 'fira_mono';
  font-size: 1rem !important;
  line-height: 1.4rem !important;
}

pre {
  background: none !important;
  border-width: 0px !important;
}

.navbar-light {
  background-color: #ffffff !important;
  box-shadow: 0px 0px 2px rgba(0,0,0,.3);

  .fa-navicon {
    color: #111;
  }
}

.navbar-toggler {
  border-width: 0px;
}

@media only screen and (max-width: 768px) {
  .navbar-transparent {
    background-color: rgba(0,0,0,.6) !important;
  }
}

.hljs {
  background: #111111 !important;

  .hljs-string {
    background: none;
  }
}
